* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.headnav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    color: #fbfbfb;
    width: 100%;
    position: fixed;
    z-index: 1;
}

h1 {
    font-size: 32px;
}

.logo a {
    display: flex;
    text-decoration: none;
    color: #fbfbfb;
}

.logosuv {
    vertical-align: revert;
    margin: auto;
    margin-left: 15px;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
    font-size: 16px;
}

.navcon {
    position: relative;
    padding: 0 50px;
    border-left: 1px solid;
}

.navcon::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 25px;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://placehold.jp/150x150.png);
}

.fstview {
    width: calc(100vw - (100vw - 100%));
    position: relative;
    overflow: hidden;
}

.slider div {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.fstimg1 {
    background-image: url(../img/yama.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.fstimg2 {
    background-image: url(../img/hyouzan.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.fstimg3 {
    background-image: url(../img/ine.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.title_box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

.title {
    /* position: absolute; */
    position: relative;
    /* top: 0; */
    width: 96%;
    display: flex;
    /* align-items: center; */
    color: #fbfbfb;
    height: 85vh;
}

.fs_left_wrap {
    display: flex;

}

.p_left {}

.p_left p {
    /* text-orientation: upright;
    writing-mode: vertical-rl; */
    transform: rotate(90deg) translateX(50%);
    font-size: 12px;
    letter-spacing: 2px;
    color: #fbfbfb;
    position: absolute;
    top: 0;
    left: 0;
}

.main_title {
    /* width: 70%; */
    margin-left: 12em;
    font-size: 1vw;
}

h2 {
    font-size: 6.5em;
    line-height: 1.2;
    margin-bottom: .5em;
    /* position: relative; */
    /* height: 100vh; */
}

h2 span {
    /* border-bottom: 10px solid; */
    text-decoration: underline;
    /* font-size: 1.2em; */
    color: #fbfbfb;
}

.title_sub {
    margin: 1.2em 0;
}

h3 {
    font-size: 27px;
}

h4 {
    line-height: 2em;
    /* margin-top: 30px; */
    font-size: 15px;
}

.scroll_right {
    /* text-orientation: upright; */
    display: flex;
    align-items: center;
    width: 20%;
    transform: rotate(90deg);
    position: absolute;
    bottom: 80px;
    right: 0;
    margin-right: -60px;
    gap: 20px;
}

.scroll_right p {
    color: #fbfbfb;
    font-size: 12px;
    letter-spacing: 2px;
}

.scroll_right .arow {
    width: 40%;
    height: 4px;
    background-color: rgba(17, 22, 71, 0.5);
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}

.arow_line {
    background: white;
    width: 100%;
    height: 100%;
    animation: 1.5s infinite scroll ease-in-out;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
}

@keyframes scroll {
    0% {
        /* background-color: white; */
        transform: translateX(-100%);
    }

    100% {
        /* background-color: black; */
        transform: translateX(0%);
    }
}

/* .p_right p::after {
    content: "";
    position: absolute;
    border-left: 1px solid;
    top: 70px;
    left: 7px;
    right: 0;
    height: 100px;
    animation: arrow 2.5s ease 0s infinite normal;
} */

.rinen_back_img {
    background: url(../img/wave.jpg);
    width: 100%;
    /* padding-top: 100px; */
    height: 560px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rinen_wrap {
    width: 83%;
    margin: 0 auto;
    padding: 180px 0 70px;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.rinen_h2>p {
    font-size: 5.5em;
    font-weight: bold;
    line-height: 1.2;
}

.rinen_h3>p {
    font-size: 2em;
}

.rinen_h4>p {
    font-size: 1.2em;
}

/*business_box*/

.business_box {
    margin-top: 100px;
    font-size: 10px;
}

.business_box h3 {
    font-weight: normal;
    font-size: 9em;
    line-height: 0.9;
    text-align: right;
}

.business_box .busi {
    font-weight: bold;
}

.flex {
    display: flex;
    width: 100%;
}

.left_box {
    width: 50%;
    padding: 12vh 0 10vh 20vh;
}

.border {
    border: 5px solid black;
    padding: 70px;
    position: relative;
}

.border::before {
    content: "";
    background-image: url(../img/hikki.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 160px;
    top: -20px;
    left: -40px;
    display: block;
    transform: rotate(-45deg);
}

.border>h4 {
    font-size: 4rem;
    position: relative;
    line-height: 1.2;
}

.border>h4::before {
    content: "";
    background-image: url(https://placehold.jp/150x150.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -20px;
    display: block;
}

.border>p {
    font-size: 1.5em;
    margin-top: 30px;
    line-height: 1.7;
}

.right_img {
    width: 60%;
    margin-left: -90px;
    height: 95vh;
    position: relative;
}

.right_img::after {
    content: "";
    position: absolute;
    background-color: blue;
    z-index: 1;
    top: 20px;
    left: -100px;
    right: 10px;
    bottom: 100px;
}

.main_img {
    width: 100%;
    height: 95vh;
    position: relative;
    display: block;
    z-index: 10;
    background-image: url(../img/hito.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}