* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 10px;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.headnav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 32px;
}

.logo a {
    display: flex;
    text-decoration: none;
    color: #fbfbfb;
}

.logosuv {
    vertical-align: revert;
    margin: auto;
    margin-left: 15px;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
    font-size: 16px;
}

.navcon {
    position: relative;
    padding: 0 50px;
    border-left: 1px solid;
}

.navcon::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 25px;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://placehold.jp/150x150.png);
}

.fstview {
    width: calc(100vw - (100vw - 100%));
    position: relative;
    overflow: hidden;
}

.slider div {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.fstimg1 {
    background-image: url(../img/yama.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.fstimg2 {
    background-image: url(../img/hyouzan.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.fstimg3 {
    background-image: url(../img/ine.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.title_box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

.title {
    /* position: absolute; */
    position: relative;
    /* top: 0; */
    width: 96%;
    display: flex;
    /* align-items: center; */
    color: #fbfbfb;
    height: 85vh;
}

.fs_left_wrap {
    display: flex;

}

.p_left {}

.p_left p {
    /* text-orientation: upright;
    writing-mode: vertical-rl; */
    transform: rotate(90deg) translateX(50%);
    font-size: 12px;
    letter-spacing: 2px;
    color: #fbfbfb;
    position: absolute;
    top: 0;
    left: 0;
}

.main_title {
    /* width: 70%; */
    margin-left: 12em;
    font-size: 1vw;
}

h2 {
    font-size: 6.5em;
    line-height: 1.2;
    margin-bottom: .5em;
    /* position: relative; */
    /* height: 100vh; */
}

h2 span {
    /* border-bottom: 10px solid; */
    text-decoration: underline;
    /* font-size: 1.2em; */
    color: #fbfbfb;
}

.title_sub {
    margin: 1.2em 0;
}

h3 {
    font-size: 27px;
}

h4 {
    line-height: 2em;
    /* margin-top: 30px; */
    font-size: 15px;
}

.scroll_right {
    /* text-orientation: upright; */
    display: flex;
    align-items: center;
    width: 20%;
    transform: rotate(90deg);
    position: absolute;
    bottom: 80px;
    right: 0;
    margin-right: -60px;
    gap: 20px;
}

.scroll_right p {
    color: #fbfbfb;
    font-size: 12px;
    letter-spacing: 2px;
}

.scroll_right .arow {
    width: 40%;
    height: 4px;
    background-color: rgba(17, 22, 71, 0.5);
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}

.arow_line {
    background: white;
    width: 100%;
    height: 100%;
    animation: 1.5s infinite scroll ease-in-out;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
}

@keyframes scroll {
    0% {
        /* background-color: white; */
        transform: translateX(-100%);
    }

    100% {
        /* background-color: black; */
        transform: translateX(0%);
    }
}

/* .p_right p::after {
    content: "";
    position: absolute;
    border-left: 1px solid;
    top: 70px;
    left: 7px;
    right: 0;
    height: 100px;
    animation: arrow 2.5s ease 0s infinite normal;
} */

.rinen_back_img {
    background: url(../img/wave.jpg);
    width: 100%;
    /* padding-top: 100px; */
    height: 560px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rinen_wrap {
    width: 83%;
    margin: 0 auto;
    padding: 180px 0 70px;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.rinen_h2>p {
    font-size: 5.5em;
    font-weight: bold;
    line-height: 1.2;
}

.rinen_h3>p {
    font-size: 2em;
}

.rinen_h4>p {
    font-size: 1.2em;
}

/*business_box*/

.business_box {
    margin-top: 100px;
    font-size: 10px;
}

.business_box h3 {
    font-weight: normal;
    font-size: 9em;
    line-height: 0.9;
    text-align: right;
    padding-bottom: 50px;
}

.business_box .busi {
    font-weight: bold;
}

.flex {
    display: flex;
    width: 100%;
}

.left_box {
    width: 50%;
    padding: 12vh 0 10vh 13vh;
}

.border {
    border: 5px solid black;
    padding: 70px;
    position: relative;
    z-index: 99;
}

.border::before {
    content: "";
    background-image: url(../img/hikki.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 160px;
    top: -20px;
    left: -40px;
    display: block;
    transform: rotate(-45deg);
    z-index: -9;

}

.border>h4 {
    font-size: 4rem;
    position: relative;
    line-height: 1.2;
    padding-top: 0.5em;
}

.border>h4::before {
    content: "";
    background-image: url(https://placehold.jp/150x150.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -20px;
    display: block;
}

.border>p {
    font-size: 1.5em;
    margin-top: 30px;
    line-height: 1.7;
}

.right_img {
    width: 56%;
    margin-left: -80px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.right_img::after {
    content: "";
    position: absolute;
    background-color: rgba(63, 101, 212, 0.05);
    z-index: 1;
    top: 35px;
    left: -200px;
    right: 10px;
    bottom: 100px;
    height: 87vh;
}

.main_img {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    z-index: 10;
    background-image: url(../img/hito.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform .6s ease;
}

.right_img:hover .main_img {
    transform: scale(1.1);
}



/* .right_img:hover .hover {
    position: relative;
    background: #fbfbfb;
    z-index: 50;
} */

.main_img::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    /*半透明のフィルターをかける*/
}

.main_img_inner {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13%;
    width: 87%;
    height: 100%;
    font-size: 1em;
    z-index: 100;
    color: #fbfbfb;
}

.main_img_inner>h2 {
    font-size: 10em;
    line-height: 1.2;
    margin-bottom: 0;
}

.main_img_inner>p {
    font-size: 2.3em;
    padding-bottom: 50px;
}

.main_img_inner .link {
    font-size: 1.5em;
    z-index: 0;
    color: #fbfbfb;
    letter-spacing: 1;
    font-weight: bold;
    padding: 25px 20px;
    border: 1px solid;
    width: 270px;
    position: relative;
    background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

.main_img_inner .link::after {
    content: "→";
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: red;
    z-index: 10;
}

.right_img:hover .main_img_inner .link::after{
    left: 85%;
}

.main_img_inner .link::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: white;
    color: black;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: -1;
}

.right_img:hover .main_img_inner .link::before {
    width: 100%;
}

.right_img:hover .main_img_inner .link {
    transition: .5s;
    color: black;
}

/* knowmore */
.knowmore_box {
    margin-top: 200px;
    font-size: 10px;
}

.knowmore_box h3 {
    font-size: 3.7em;
    margin-left: 5%;
    position: relative;
}

.know_h3 {
    font-weight: normal;
}

.knowmore_box h3::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: 235px;
    right: 0;
    bottom: 16px;
    background: black;
}

.know_wrap {
    display: flex;
    justify-content: center;
    column-gap: 2%;
    margin-top: 50px;
}

.know_more {
    width: 20vw;
}

.know_h4 {
    margin-top: 35px;
}

.know_h4 .h4_fst {
    background-color: black;
    color: aliceblue;
    letter-spacing: -1px;
    padding: 0 4px;
    width: 120px;
    height: 26px;
    font-size: 1.4em;
}

.know_h4 h4 {
    background-color: black;
    color: aliceblue;
    letter-spacing: -1px;
    padding: 0 4px;
    width: 39px;
    height: 26px;
    font-size: 1.4em;
}

.know_h4>p {
    margin-top: 10px;
    font-size: 1.4em;
    color: black;
    letter-spacing: 2px;
}

.know_link>p {
    font-size: 1.2em;
    color: grey;
    margin-top: 10px;
    margin-left: 7%;
    position: relative;

}

.know_link>p::before {
    position: absolute;
    content: ">";
    top: 0;
    left: -20px;
    right: 0;
    bottom: 0;
}

/* joinus */

.join_us_box {
    margin-top: 200px;
    font-size: 10px;
    text-align: center;
}

.join_us_wrap>p {
    font-size: 3em;
}

.join_us_wrap h3 {
    font-size: 10em;
    line-height: 1;
}

.join_us_wrap h4 {
    font-size: 4em;
    background: black;
    color: aliceblue;
    width: 75%;
    height: 55px;
    line-height: 1.5;
    margin: 40px auto;
}

.join_us_wrap h5 {
    font-size: 2.1em;
    margin-top: 60px;
}

.join_link {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.link_box {
    border: 1px solid;
    width: 38%;
    text-align: left;
    color: black;
}

.link_box>p {
    font-size: 2.5em;
    padding: 45px 40px 20px;
}

.link_wrap {
    display: flex;
    padding-bottom: 40px;
    column-gap: 4%;
    position: relative;
}

.link_wrap::after {
    content: "→";
    position: absolute;
    right: 40px;
    bottom: 30px;
    color: red;
    font-size: 30px;
}

.link_wrap .bosyuu {
    font-size: 2em;
    padding: 12px;
    background: black;
    color: aliceblue;
    margin-left: 40px;
}

.link_wrap .comment {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
